.log-form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  gap: 40px;
  transform: translate(0%, 15%);
}

.log-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assign-text {
  font-size: 30px;
}

.assign-desc-text {
  font-size: 12px;
}