.status-hold-main {
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  height: 150px;
  margin: calc(100% - 99%);
}

.status-hold-main:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.status-hold {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  padding: 10px;
  border-bottom: solid 1px #e4e4e4;
  flex-wrap: wrap;
}

.stat-title-hold {
  display: flex;
}

.assign-det {
  display: flex;
  flex-direction: column;
}

.assign-det p {
  margin: 10px 0px 5px 15px;
  font-size: 13px;
  font-weight: 250;
}

.status-title-hold {
  margin: 10px 10px;
  display: flex;
  word-spacing: 1px;
}

.assign-logo {
  height: 25px;
  display: flex;
}

.caret-image-hold-stat {
  background-color: aqua;
  width: 15px;
  padding: 0px 10px;
}

.status-det-hold {
  display: flex;
  flex-wrap: wrap;
}

.status-det-hold p {
  padding: 10px;
}

.status-assign-date {
  margin: 10px 0px 5px 15px;
}